.header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerConteiner {
  display: flex;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header h1 {
  font-size: 20px;
  font-weight: 600;
}

.headerCaminho {
  font-size: 0.7rem;
  color: #97999c;
  display: flex;
  gap: 2px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.botoes button p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.botoes button {
  border-radius: 5px;
  border: none;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.select {
  border-radius: 5px;
  border: none !important;
  appearance: none;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.select div {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  gap: 5px;
  align-self: center;
}

.produtos {
  font-size: 0.9rem;
}

.produtos strong {
  font-weight: 600;
}
