.banners {
  text-align: center;
  position: relative;
  background: linear-gradient(to bottom, #115f31 0%, #115f31 50%, #f6f6f6 100%);
}

.banners img {
  width: 96%;
  aspect-ratio: 164 / 75;
  border-radius: 0.5rem;
}

.dots {
  position: absolute;
  color: #fff;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dots svg {
  width: 20px;
  height: 20px;
}
